@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
  font-family: "Poppins", sans-serif;
}

#runners {
  border-collapse: collapse;
  width: 100%;
}

#runners td,
#runners th {
  border: 1px solid #ddd;
  padding: 8px;
}

#runners tr:nth-child(even) {
  background-color: #f2f2f2;
}

#runners tr:hover {
  background-color: #ddd;
}

#runners th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04aa6d;
  color: white;
}

button {
  background-color: #04aa6d; /* Green */
  border: none;
  color: white;
  padding: 3px 7px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 6px;
}
